@media(max-width: 1023px) {
	.reversed {
		/*flex-direction: column-reverse;*/
    display: flex;
		flex-flow: column;
	}
	
	.second {
		order: 1;		
	}

	.first {
		order: 2;
	}
	.dropdown-vertical {
		visibility: hidden;
		display: none;	
	}
	.dropdown-horizontal {
		visibility: visible;
		display: block;
	}
	#epona {
		visibility: hidden;
		display: none;
	}
}

.cobertura {
	height: 100%;
	object-fit: cover;
}

.abajo {
	object-position: center bottom;
}

.altura .column .card{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.altura .column .card-footer{
  margin-top: auto;
}

.sameheight {
	height: 100%;
}

#epona {
	cursor: pointer;
	text-align: right;
	margin-right: -5%;
	animation: moveRight 90s linear 0.5s 1 normal forwards;
}

@keyframes moveRight {
    0%   {margin-right: -5%;}
    100% {margin-right: 75%;}
}

.invertido {
	filter: invert(1);
	mix-blend-mode: difference;
}

.icono {
	height: 3em;
	width: auto;
}

.espacio {
	line-height: 1.6em;
}

.destacado {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 0.2em;
}

.betarraga {
	color: #7A1F3D;
}

@media(min-width: 1024px) {
	.dropdown-vertical {
		visibility: visible;
		display: inherit;	
	}
	.dropdown-horizontal {
		visibility: hidden;
		display: none;
	}
}
.hero-imagen {
	background-image: url("../images/hero-homepage.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.pattern {
	background-image: url("../icons/motif2.svg");
	background-repeat: space;
	background-size: 3rem auto;
	height: 3rem;
	margin-bottom: 1em;
	margin-top: 3em;
}

.pattern-short {
	background-image: url("../icons/motif.svg");
	background-repeat: space;
	background-size: 3rem auto;
	height: 3rem;
}

.rojo {
	filter: brightness(0) saturate(100%) invert(17%) sepia(99%) saturate(2610%) hue-rotate(342deg) brightness(89%) contrast(98%);
}

.verde {
	filter: brightness(0) saturate(100%) invert(51%) sepia(88%) saturate(375%) hue-rotate(100deg) brightness(86%) contrast(86%);
}

.naranjo {
	filter: brightness(0) saturate(100%) invert(45%) sepia(93%) saturate(1718%) hue-rotate(3deg) brightness(94%) contrast(102%);
}

.mountain{
  position: absolute;
  content: '';
  bottom: 0;
  left: 120px;
  border-top: 0px solid transparent;
  border-right: 180px solid transparent; /*right slope of mountain*/
  border-bottom: 350px solid #5ad07d; /*height of mountain*/
  border-left: 180px solid transparent; /*left slope of mountain*/
  z-index: 5;
}

.mountain-shadow{
  position: absolute;
  content: '';
  bottom: 0;
  left: 300px;
  border-top: 0px solid transparent;
  border-right: 140px solid transparent; /*right slope of mountain shadow*/
  border-bottom: 350px solid #357639; /*height of mountain shadow*/
  border-left: 0px solid transparent; /*left slope of mountain shadow*/
  z-index: 5;
  transform-origin: top right;
  transform: skewX(18deg);
}


.snow{
  position: absolute;
  content: '';
  bottom: -98px;
  left: -50px;
  border-top: 0px solid transparent;
  border-right: 50px solid transparent; /*right slope of snow peak*/
  border-bottom: 100px solid #dddddd; /*height of snow peak*/
  border-left: 50px solid transparent; /*left slope of snow peak*/
  z-index: 6;
}

.snow-shadow{
  position: absolute;
  content: '';
  bottom: -87px;
  left: 0px;
  border-top: 0px solid transparent;
  border-right: 35px solid transparent; /*right slope of snow shadow*/
  border-bottom: 100px solid #cccccc; /*height of snow shadow*/
  border-left: 0px solid transparent; /*left slope of snow shadow*/
  z-index: 6;
  transform-origin: top right;
  transform: skewY(-18deg);
}

.snow-jagged{ /*Our inverted jagged bit of snow*/
  position: absolute;
  content: '';
  bottom: -130px;
  left: -45px;
  border-top: 40px solid #dddddd; /*because the peak is inverted, the top has a border*/
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid transparent;
  z-index: 6;
}


.mountain-1{
  position: absolute;
  content: '';
  bottom: 0;
  left: 60px;
  border-top: 0px solid transparent;
  border-right: 130px solid transparent; /*right slope of mountain 1*/
  border-bottom: 150px solid #68F193; /*height of mountain 1*/
  border-left: 130px solid transparent; /*left slope of mountain 1*/
  z-index: 5;
}

.mountain-shadow-1{
  position: absolute;
  content: '';
  bottom: 0;
  left: 190px;
  border-top: 0px solid transparent;
  border-right: 100px solid transparent; /*right slope of mountain shadow 1*/
  border-bottom: 150px solid #40945C; /*height of mountain shadow 1*/
  border-left: 0px solid transparent; /*left slope of mountain shadow 1*/
  z-index: 5;
  transform-origin: top right;
  transform: skewX(18deg);
}

.mountains {
	position: relative;
}

#sirota, #botonsirota {
	background-image: url("../images/tours/altynarashan.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#horse1, #botonhorse1 {
	background-image: url("../images/tours/hotspring.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#horse2, #botonhorse2 {
	background-image: url("../images/tours/valley.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#horse3, #botonhorse3 {
	background-image: url("../images/tours/alakul.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
